.App {
  text-align: center;
}

.App-header {
  background-image: url("../public/background.png");
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

button {
  background: green;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
  background-color: gray;
}